body{
  text-align: center;
  align-items: center;
  background-image: url('../img/background.jpg');
}

.panel-body{
  padding:0;
}

.nav-elements li{
  font-size: 16px;
  color: white;
}

.login-box{
  margin: auto;
  margin-top: 3%;
  width: 35%;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #AED6F1;
}

.input-block{
  margin: auto;
  margin-bottom: 15px; 
}

.input-box{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 75%;
  border-radius: 10px;
}

#scrl{
  height: 300px;
  overflow-y: auto;
}

#chatForm{
  display: none;
}

.input-box-send{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 75%;
  border: 1px solid black;
  background-color: white;
  box-shadow: none;
}

#messages,
#list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

#messages li,
#list li{
  text-align: left;
  width: auto;
  background: #eee;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}


.connId{
  border:1px solid #ddd;
}

.connId li{
  display: inline;
  list-style-type: none;
}

.videoFrame video{
  border: 1px solid #ddd;
  border-radius: 5px;
  background-image: url("../img/user.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

video#remoteVideo{
  height: 175px;
}
video#localVideo{
  height: 175px;
}


@media only screen and (max-width: 768px) {
  .login-box{
    width: 100%;
  }
}

