<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="login-box">
    <br>
    <h3><b>Giriş Yap</b></h3>
    <hr>
    <form class="login-form" action="/user/api/v1/login" method="post">
      <div class="input-block">
        <input class="input-box" type="email" name="email" placeholder="E-Posta" autofocus required />
      </div>
      <div class="input-block">
        <input class="input-box" type="password" name="password" placeholder="Şifre" required />
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit" name="submit">Giriş Yap</button>
      <a href="/user/signup" class="btn btn-danger btn-lg btn-block"><b>Kaydol</b></a><br>
    </form>
  </div>

</body>

</html>